<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBwx4jKP8eUB92oiRWfYgQ86UIcHQ1l8UY</string>
	<key>GCM_SENDER_ID</key>
	<string>542155713820</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>money-masters.goal-tracker</string>
	<key>PROJECT_ID</key>
	<string>finance-tracker-ecfcf</string>
	<key>STORAGE_BUCKET</key>
	<string>finance-tracker-ecfcf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:542155713820:ios:327887125c7bf05217ded9</string>
</dict>
</plist>